* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url("../images/pokemon-bg.png");
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

header {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.titles {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    color: white;
    text-shadow:
        -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
}

.square {
    background-color:grey;
    height: 25px;
    width: 80px;
    padding-top: 2px;
    padding-left: 5px;
}